{
  "openapi": "3.0.4",
  "info": {
    "title": "NavApiGateway API 1.0",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.navfundservices.com/navapigateway"
    }
  ],
  "paths": {
    "/api/v1/ClientMasterData/GetFundList": {
      "get": {
        "tags": [
          "Fund Master Data"
        ],
        "summary": "Get list of funds.",
        "parameters": [
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientFundInfoAPIGatewayViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/ClientMasterData/GetEntityRelationshipOfFund": {
      "get": {
        "tags": [
          "Fund Master Data"
        ],
        "summary": "Get the fund's underlying entity, such as a trader or a trading class.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter the underlying entity relationship data of a fund based on a parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityRelationShipViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/ClientMasterData/GetAccountingDataDates": {
      "get": {
        "tags": [
          "Fund Master Data"
        ],
        "summary": "Get information of fund's accounting data that is available in NAV to fetch.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "logID",
            "in": "query",
            "description": "Last log ID for which NAV provided fund's accounting data.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityAccountingDataDatesViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/ClientMasterData/GetPortfolioDataDates": {
      "get": {
        "tags": [
          "Fund Master Data"
        ],
        "summary": "Get information of fund's portfolio data that is available in NAV to fetch.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data baesd on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "logID",
            "in": "query",
            "description": "Last log ID for which NAV provided fund's portfolio data.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityPortfolioDataDatesViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/CustomReportData/GetCustomReportingDataForFund": {
      "get": {
        "tags": [
          "Custom Reporting Data"
        ],
        "summary": "Get fund's reporting data based on provided details.",
        "description": "Click this \r\n<a href=\"https://portal.navfundservices.com/navportalcore/help-documents/9\"> link</a> for a comprehensive usage guide for this endpoint.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportTemplateID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "frequencyID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/DataRoom/GetAllDataRooms": {
      "get": {
        "tags": [
          "Data Room"
        ],
        "summary": "Get list of data rooms by business client",
        "parameters": [
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataRoomInfoViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/v1/DataRoom/GetDateroomFilesInfo": {
      "get": {
        "tags": [
          "Data Room"
        ],
        "summary": "Get file list with details for a dataroom",
        "parameters": [
          {
            "name": "dataRoomGuid",
            "in": "query",
            "description": "Unique identifier of a dataroom",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataRoomFileInfoViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/v1/DataRoom/DownloadDataroomFile": {
      "get": {
        "tags": [
          "Data Room"
        ],
        "summary": "Get file data as stream to download the file",
        "parameters": [
          {
            "name": "fileGuid",
            "in": "query",
            "description": "Unique identifier of a file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataRoomGuid",
            "in": "query",
            "description": "Unique identifier of a dataroom",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/v1/ESubscription/GetESubscriptionTemplates": {
      "get": {
        "tags": [
          "E-Subscription"
        ],
        "summary": "Get all published E-subscription templates.",
        "parameters": [
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ESubscriptionTemplatesViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/ESubscription/CreateESubscriptionInvitation": {
      "post": {
        "tags": [
          "E-Subscription"
        ],
        "description": "Create's login of NAV Portal and send e-subscription invitation to investor through email.",
        "parameters": [
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ESubscriptionInvitationRequestViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ESubscriptionInvitationRequestViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ESubscriptionInvitationRequestViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ESubscriptionInvitationRequestViewModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetBalanceSheetForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get fund's balance sheet data for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheetViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetIncomeExpensesForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get fund's income expenses data for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeExpensesViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetCapitalBalancesAndFeesForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get fund's capital balances and fees data for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapitalBalancesAndFeesViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetPerformanceReturnsForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get fund's performance returns for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceReturnsViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetDetailedTrialBalanceForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get fund's YTD trial balance for provided Month with security level break-up.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Fetch YTD trial balance of fund based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Fetch YTD trial balance of fund based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalanceViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetDailyDetailedTrialBalanceForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get fund's trial balance for provided date with security level break-up.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialBalanceViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetEstimateNAVAndPerformanceReturnsForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get funds's estimate NAV and performance returns for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateNAVAndPerformanceReturnsForFundViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetOfficialNAVAndPerformanceReturnsForFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get funds's official NAV and performance returns for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficialNAVAndPerformanceReturnsForFundViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundAccountingData/GetPerformanceForCommitmentFund": {
      "get": {
        "tags": [
          "Fund Accounting Data"
        ],
        "summary": "Get performance for commitment funds's for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Fetch report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceForCommitmentFundViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "423": {
            "description": "Data Is locked"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetCashBalancesForFund": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get fund cash balances for provided report date.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalancesViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetTradingGainLossForFund": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get fund trading gain\\loss for provided report date.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradingGainLossViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetTradesForFund": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get trades for provided report date.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetTradesForFundOnDateRange": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get trades for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetRealizedTaxLotForFundOnDateRange": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get fund realized tax lot for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RealizedTaxLotViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetCashTransactionForFundOnDataRange": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get fund cash transactions for provided dates.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashTransactionViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetRealizedTaxLotForFund": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get fund realized tax lot for provided report date.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RealizedTaxLotViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/FundReportData/GetUnRealizedTaxLotForFund": {
      "get": {
        "tags": [
          "Fund Portfolio Data"
        ],
        "summary": "Get fund unrealized tax lot for provided report date.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Filter report data based on parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnRealizedTaxLotViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invaild request parameters"
          },
          "401": {
            "description": "Unauthorize request"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorDemographicsAndCapitalTransactions/GetInvestorDemographicsForFund": {
      "get": {
        "tags": [
          "Investor Demographics and Capital Transactions"
        ],
        "summary": "Get details of investor demographics for provided fund.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Fetch the demographics data of a fund based on a parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Filter active/inactive investor based on parameter.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvestorDemographicViewModelForFund"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorDemographicsAndCapitalTransactions/GetInvestorCapitalTransactions": {
      "get": {
        "tags": [
          "Investor Demographics and Capital Transactions"
        ],
        "summary": "Get all capital transactions for provided investor.",
        "parameters": [
          {
            "name": "investorID",
            "in": "query",
            "description": "Fetch capital transactions of investor based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestorCapitalTransactionsViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorDemographicsAndCapitalTransactions/GetInvestorCapitalTransactionsGroupedBySubactivity": {
      "get": {
        "tags": [
          "Investor Demographics and Capital Transactions"
        ],
        "summary": "Get investor capital transactions grouped by subactivity (sub-head).",
        "parameters": [
          {
            "name": "investorID",
            "in": "query",
            "description": "Fetch grouped capital transactions of investor based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportDate",
            "in": "query",
            "description": "Report Date (MM/dd/yyyy)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestorCapitalTransactionsGroupedBySubactivityViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorDemographicsAndCapitalTransactions/GetInvestorUnFundedCapitalTransactions": {
      "get": {
        "tags": [
          "Investor Demographics and Capital Transactions"
        ],
        "summary": "Get all unfunded capital transactions for provided investor.",
        "parameters": [
          {
            "name": "investorID",
            "in": "query",
            "description": "Fetch unfunded capital transactions of investor based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestorCapitalTransactionsViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorMasterData/GetFundListByEmail": {
      "get": {
        "tags": [
          "Investor Master Data"
        ],
        "summary": "Get fund list associated to registered email of investor.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter fundlist data based on parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundInfoApiGatewayViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorMasterData/GetInvestorListByEmail": {
      "get": {
        "tags": [
          "Investor Master Data"
        ],
        "summary": "Get investors list associated to registered email of investor.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter investor list data based on parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvestorInfoApiGatewayViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorMasterData/GetInvestorListByFund": {
      "get": {
        "tags": [
          "Investor Master Data"
        ],
        "summary": "Get investor list of fund.",
        "parameters": [
          {
            "name": "globalFundID",
            "in": "query",
            "description": "Filter investor list data based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvestorInfoApiGatewayViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorReportData/GetInvestorBalancesForInvestor": {
      "get": {
        "tags": [
          "Investor Accounting Data"
        ],
        "summary": "Get investor balances for provided month.",
        "parameters": [
          {
            "name": "investorID",
            "in": "query",
            "description": "Fetch investor balances of investor based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Fetch investor balances of investor based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Fetch investor balances of investor based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvestorBalanceViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorReportData/GetInvestorBalancesForInvestorByTranche": {
      "get": {
        "tags": [
          "Investor Accounting Data By Tranche"
        ],
        "summary": "Get investor balances for provided month.",
        "parameters": [
          {
            "name": "investorClassID",
            "in": "query",
            "description": "Fetch investor balances of investment based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Fetch investor balances of investment based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Fetch investor balances of investment based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvestorBalanceViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorReportData/GetCapitalAccountSummaryDataForInvestorByTranche": {
      "get": {
        "tags": [
          "Investor Accounting Data By Tranche"
        ],
        "summary": "Get capital account summary data since incpetion.",
        "parameters": [
          {
            "name": "investorClassID",
            "in": "query",
            "description": "Filter report data based on parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CapitalAccountSummaryApiGatewayViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/InvestorReportData/GetGrowthOfThousandDataForInvestorByTranche": {
      "get": {
        "tags": [
          "Investor Accounting Data By Tranche"
        ],
        "summary": "Get VAMI for specified date range.",
        "parameters": [
          {
            "name": "investorClassID",
            "in": "query",
            "description": "Filter report data based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter report data based on input parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter report data based on input parameter (MM-DD-YYYY format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numOfMonths",
            "in": "query",
            "description": "Filter report data based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
            "name": "x-content-sha256",
            "in": "header",
            "description": "It is a base64 encoded SHA256 hash of the request body. It must be provided even if there is no body.",
            "schema": {
              "type": "content-sha256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalyticsYearlyRorApiGatewayViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized Request"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "425": {
            "description": "Replay Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/api/v1/InvestorReportData/GetInvestorStatementForFund": {
      "get": {
        "tags": [
          "Investor Accounting Data"
        ],
        "summary": "Get zip file stream of all investor investments for provided month for fund.",
        "parameters": [
          {
            "name": "globalfundID",
            "in": "query",
            "description": "Filter report data based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Filter report data based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Filter report data based on input parameter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-date",
            "in": "header",
            "description": "Date and time at which the request was originated. It can't be more than 5 minutes off from the current Coordinated Universal Time (UTC).",
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "x-hmac256-signature",
            "in": "header",
            "description": "Authentication information required by the HMAC-SHA256 scheme, which includes &lt;API_KEY&gt;;&lt;nonce&gt;;&lt;signature&gt;",
            "schema": {
              "type": "authorization"
            }
          },
          {
[...]
